{% extends "MealSquareCommonBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block main %}
    <body class="home">
        <main class=" main" role="main">
            <div class="intro">
                <figure class="bg">
                    {% image '@MealSquareCommonBundle/Resources/public/images/intro.jpg'  output="images/intro.jpg" %}
                    <img src="{{ asset_url }}" alt="MealSquare logo">
                    {% endimage %}
                </figure>

                <!--wrap-->
                <div class="wrap clearfix">
                    <!--row-->
                    <div class="row">
                        <article class="three-fourth text wow zoomIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: zoomIn; -webkit-animation-name: zoomIn;">
                            <h1>{{ 'common.home.bienvenu'|trans }}</h1>
                            <p><strong>{{ 'common.home.mealsquare'|trans }}</strong> {{ 'common.home.intro'|trans }}</p>
                            <p>{{ 'common.home.intro_part2'|trans }}</p>
                            <p>
                                <a href="{{ path('sonata_user_registration_register') }}" class="button white more medium">{{ 'common.home.nous_rejoindre'|trans }}</a>
                                {{ 'common.home.deja_membre'|trans }} <a href="{{ path('sonata_user_profile_show') }}"> {{ 'common.home.ici'|trans }}</a> {{ 'common.home.pour_connecter'|trans }}.</p>
                        </article>

                        <!--search recipes widget-->
                        <div class="one-fourth wow fadeInDown animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; -webkit-animation-delay: 0.5s; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">
                            <div class="widget container">
                                <div class="textwrap">
                                    <h3>{{ 'recettes.rechercherecette'|trans({},'messages') }}</h3>
                                    <p>{{ 'recettes.home_intro_instruction'|trans({},'messages') }}</p>
                                    <p>{{ 'recettes.home_intro_instruction_categorie'|trans({},'messages') }}</p>
                                    <p>{{ 'recettes.home_intro_instruction_pub'|trans({},'messages') }}</p>
                                </div>

                                <div class="f-row bwrap">
                                    <a class="button white more medium" href="{{ path('meal_square_recette_search') }}">{{ 'recettes.home_commencer_plat'|trans({},'messages') }}</a>
                                </div>
                            </div>
                        </div>
                        <!--//search recipes widget-->
                    </div>
                    <!--//row-->
                </div>
                <!--//wrap-->
            </div>
            <div class="wrap clearfix">
                <!--row-->
                <div class="row">
                    <!--content-->
                    <section class="content full-width">
                        <div class="icons dynamic-numbers">
                            <header class="s-title wow fadeInDown">
                                <h2 class="ribbon large">{{ 'common.home.les_chiffres'|trans }}</h2>
                            </header>

                            <!--row-->
                            <div class="row wow fadeInUp">

                                <!--item-->
                                <div class="one-sixth">
                                    <div class="container">
                                        <i class="ico i-recipes"></i>
                                        <span class="title dynamic-number" data-dnumber="{{nbrecette}}">0</span>
                                        <span class="subtitle">{{ 'common.home.recettes'|trans }}</span>
                                    </div>
                                </div>
                                <!--//item-->
                                <!--item-->
                                <div class="one-sixth">
                                    <div class="container">
                                        <i class="ico i-articles"></i>
                                        <span class="title dynamic-number" data-dnumber="{{nbingredient}}">0</span>
                                        <span class="subtitle">{{ 'common.home.ingredients'|trans }}</span>
                                    </div>
                                </div>
                                <!--//item-->
                                <!--item-->
                                <div class="one-sixth">
                                    <div class="container">
                                        <i class="ico i-members"></i>
                                        <span class="title dynamic-number" data-dnumber="{{nbuser}}">0</span>
                                        <span class="subtitle">{{ 'common.home.membre'|trans }}</span>
                                    </div>
                                </div>
                                <!--//item-->
                                
                            </div>
                            <!--//row-->
                        </div>
                    </section>
                    <!--//content-->
                    <!--content-->
                    <section class="content three-fourth">
                        <!--cwrap-->
                        <div class="cwrap">
                            <!--entries-->
                            <div class="entries row">
                                <!--featured recipe-->

                                <div class="featured two-third wow fadeInLeft">
                                    {% if recette_de_la_journee is not null %}
                                        <header class="s-title">
                                            <h2 class="ribbon">{{ 'common.home.recette_de_la_journee'|trans }}</h2>
                                        </header>
                                        <article class="entry">

                                            <figure>
                                                <div class="image">{% thumbnail recette_de_la_journee.image,'big' %}</div>
                                                <figcaption><a href="{{ path('meal_square_recette_show',{'id':recette_de_la_journee.id}) }}"><i class="ico i-view"></i> <span>{{ 'recettes.detail'|trans({}, 'messages') }}</span></a></figcaption>
                                            </figure>
                                            <div class="container">
                                                <h2><a href="{{ path('meal_square_recette_show',{'id':recette_de_la_journee.id}) }}">{{recette_de_la_journee.titre}}</a></h2>
                                                <p> {% if recette_de_la_journee.description is not null %}
                                                    {{ recette_de_la_journee.description }}
                                                {% else %}
                                                    {{ 'recettes.no_description'|trans({},'messages') }}
                                                {% endif %}</p>
                                        </div>
                                    </article>
                                    {% else %}
                                        <div class="container">
                                            <h2> {{ 'recettes.no_recette_of_day'|trans({},'messages') }} </h2>
                                        </div>
                                        {% endif %} 
                                        </div>

                                        <!--//featured recipe-->

                                        <!--featured member-->
                                        <div class="featured one-third wow fadeInLeft" data-wow-delay=".2s">

                                            <article class="entry">
                                                <dl class="basic">
                                                    <dt>{{ 'recettes.preparation_time'|trans({},'messages') }}</dt>
                                                    <dd>{{recette_de_la_journee.getTempsPreparation()}} min</dd>
                                                    <dt>{{ 'recettes.coocking_time'|trans({},'messages') }}</dt>
                                                    <dd>{{recette_de_la_journee.getTempsCuisson()}} min</dd>
                                                    <dt>{{ 'recettes.difficulty'|trans({},'messages') }}</dt>
                                                    <dd>{{recette_de_la_journee.getDifficulte()}}</dd>
                                                    <dt>{{ 'recettes.serves'|trans({},'messages') }}</dt>
                                                    <dd>{{recette_de_la_journee.getNbPersonne()}}</dd>
                                                    <dt>{{ 'recettes.saison'|trans({},'messages') }}</dt>
                                                    <dd>{{recette_de_la_journee.getSaison()}}</dd>
                                                    <dt>{{ 'recettes.speciality'|trans({},'messages') }}</dt>
                                                    <dd style="font-size: 13px;padding: 2px;">{{recette_de_la_journee.getSpecialite() |slice(0, 13)}}...</dd>
                                                </dl>

                                                <dl class="crf">
                                                    <dt>{{ 'recettes.category'|trans({},'messages') }}</dt>
                                                    <dd>{{recette_de_la_journee.getCategorie()}}</dd>
                                                    <dt>{{ 'recettes.autor'|trans({},'messages') }}</dt>
                                                    <dd>{{recette_de_la_journee.getAuteur()}}</dd>
                                                    <dt>{{ 'recettes.source'|trans({},'messages') }}</dt>
                                                    <dd style="font-size: 13px;padding: 2px;">{{recette_de_la_journee.getSource() |slice(0, 13)}}...</dd>
                                                </dl>
                                            </article>
                                        </div>
                                        <!--//featured member-->
                                    </div>
                                    <!--//entries-->
                                </div>
                                <!--//cwrap-->

                                <!--cwrap-->
                                <div class="cwrap">
                                    <header class="s-title">
                                        <h2 class="ribbon bright">Latest recipes</h2>
                                    </header>

                                    <!--entries-->
                                    <div class="entries row">
                                        <!--item-->
                                        <div class="entry one-third wow fadeInLeft">
                                            <figure>
                                                <img src="images/img.jpg" alt="" />
                                                <figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                                            </figure>
                                            <div class="container">
                                                <h2><a href="recipe.html">Thai fried rice with fruit and vegetables</a></h2> 
                                                <div class="actions">
                                                    <div>
                                                        <div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
                                                        <div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
                                                        <div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--item-->

                                        <!--item-->
                                        <div class="entry one-third wow fadeInLeft" data-wow-delay=".2s">
                                            <figure>
                                                <img src="images/img.jpg" alt="" />
                                                <figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                                            </figure>
                                            <div class="container">
                                                <h2><a href="recipe.html">Spicy Morroccan prawns with cherry tomatoes</a></h2> 
                                                <div class="actions">
                                                    <div>
                                                        <div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
                                                        <div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
                                                        <div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--item-->

                                        <!--item-->
                                        <div class="entry one-third wow fadeInLeft" data-wow-delay=".4s">
                                            <figure>
                                                <img src="images/img.jpg" alt="" />
                                                <figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                                            </figure>
                                            <div class="container">
                                                <h2><a href="recipe.html">Super easy blueberry cheesecake</a></h2> 
                                                <div class="actions">
                                                    <div>
                                                        <div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
                                                        <div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
                                                        <div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--item-->

                                        <!--item-->
                                        <div class="entry one-third wow fadeInLeft" data-wow-delay=".6s">
                                            <figure>
                                                <img src="images/img.jpg" alt="" />
                                                <figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                                            </figure>
                                            <div class="container">
                                                <h2><a href="recipe.html">Refreshing banana split with a twist for adults</a></h2> 
                                                <div class="actions">
                                                    <div>
                                                        <div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
                                                        <div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
                                                        <div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--item-->

                                        <!--item-->
                                        <div class="entry one-third wow fadeInLeft" data-wow-delay=".8s">
                                            <figure>
                                                <img src="images/img.jpg" alt="" />
                                                <figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                                            </figure>
                                            <div class="container">
                                                <h2><a href="recipe.html">Sushi mania: this is the best sushi you have ever tasted</a></h2> 
                                                <div class="actions">
                                                    <div>
                                                        <div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
                                                        <div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
                                                        <div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--item-->

                                        <!--item-->
                                        <div class="entry one-third wow fadeInLeft" data-wow-delay="1s">
                                            <figure>
                                                <img src="images/img.jpg" alt="" />
                                                <figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                                            </figure>
                                            <div class="container">
                                                <h2><a href="recipe.html">Princess puffs - an old classic at its best</a></h2> 
                                                <div class="actions">
                                                    <div>
                                                        <div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
                                                        <div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
                                                        <div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--item-->

                                        <div class="quicklinks">
                                            <a href="#" class="button">More recipes</a>
                                            <a href="javascript:void(0)" class="button scroll-to-top">Back to top</a>
                                        </div>
                                    </div>
                                    <!--//entries-->
                                </div>
                                <!--//cwrap-->

                                <!--cwrap-->
                                <div class="cwrap">
                                    <header class="s-title">
                                        <h2 class="ribbon bright">Latest articles</h2>
                                    </header>
                                    <!--entries-->
                                    <div class="entries row">
                                        <!--item-->
                                        <div class="entry one-third wow fadeInLeft">
                                            <figure>
                                                <img src="images/img.jpg" alt="" />
                                                <figcaption><a href="blog_single.html"><i class="ico i-view"></i> <span>View post</span></a></figcaption>
                                            </figure>
                                            <div class="container">
                                                <h2><a href="blog_single.html">Barbeque party</a></h2> 
                                                <div class="actions">
                                                    <div>
                                                        <div class="date"><i class="ico i-date"></i><a href="#">22 Dec 2014</a></div>
                                                        <div class="comments"><i class="ico i-comments"></i><a href="blog_single.html#comments">27</a></div>
                                                    </div>
                                                </div>
                                                <div class="excerpt">
                                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet . . . </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--item-->

                                        <!--item-->
                                        <div class="entry one-third wow fadeInLeft" data-wow-delay=".2s">
                                            <figure>
                                                <img src="images/img.jpg" alt="" />
                                                <figcaption><a href="blog_single.html"><i class="ico i-view"></i> <span>View post</span></a></figcaption>
                                            </figure>
                                            <div class="container">
                                                <h2><a href="blog_single.html">How to make sushi</a></h2> 
                                                <div class="actions">
                                                    <div>
                                                        <div class="date"><i class="ico i-date"></i><a href="#">22 Dec 2014</a></div>
                                                        <div class="comments"><i class="ico i-comments"></i><a href="blog_single.html#comments">27</a></div>
                                                    </div>
                                                </div>
                                                <div class="excerpt">
                                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet . . . </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--item-->

                                        <!--item-->
                                        <div class="entry one-third wow fadeInLeft" data-wow-delay=".4s">
                                            <figure>
                                                <img src="images/img.jpg" alt="" />
                                                <figcaption><a href="blog_single.html"><i class="ico i-view"></i> <span>View post</span></a></figcaption>
                                            </figure>
                                            <div class="container">
                                                <h2><a href="blog_single.html">Make your own bread</a></h2> 
                                                <div class="actions">
                                                    <div>
                                                        <div class="date"><i class="ico i-date"></i><a href="#">22 Dec 2014</a></div>
                                                        <div class="comments"><i class="ico i-comments"></i><a href="blog_single.html#comments">27</a></div>
                                                    </div>
                                                </div>
                                                <div class="excerpt">
                                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet . . . </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--item-->

                                        <div class="quicklinks">
                                            <a href="#" class="button">More posts</a>
                                            <a href="javascript:void(0)" class="button scroll-to-top">Back to top</a>
                                        </div>
                                    </div>
                                    <!--//entries-->
                                </div>
                                <!--//cwrap-->
                            </section>
                            <!--//content-->
                            <aside class="sidebar one-fourth">
                                <div class="widget wow fadeInRight">
                                    <h3>Recipe Categories</h3>
                                    <ul class="boxed">
                                        <li class="light"><a href="recipes.html" title="Appetizers"><i class="ico i-appetizers"></i> <span>Apetizers</span></a></li>
                                        <li class="medium"><a href="recipes.html" title="Cocktails"><i class="ico i-cocktails"></i> <span>Cocktails</span></a></li>
                                        <li class="dark"><a href="recipes.html" title="Deserts"><i class="ico i-deserts"></i> <span>Deserts</span></a></li>

                                        <li class="medium"><a href="recipes.html" title="Cocktails"><i class="ico i-eggs"></i> <span>Eggs</span></a></li>
                                        <li class="dark"><a href="recipes.html" title="Equipment"><i class="ico i-equipment"></i> <span>Equipment</span></a></li>
                                        <li class="light"><a href="recipes.html" title="Events"><i class="ico i-events"></i> <span>Events</span></a></li>

                                        <li class="dark"><a href="recipes.html" title="Fish"><i class="ico i-fish"></i> <span>Fish</span></a></li>
                                        <li class="light"><a href="recipes.html" title="Ftness"><i class="ico i-fitness"></i> <span>Fitness</span></a></li>
                                        <li class="medium"><a href="recipes.html" title="Healthy"><i class="ico i-healthy"></i> <span>Healthy</span></a></li>

                                        <li class="light"><a href="recipes.html" title="Asian"><i class="ico i-asian"></i> <span>Asian</span></a></li>
                                        <li class="medium"><a href="recipes.html" title="Mexican"><i class="ico i-mexican"></i> <span>Mexican</span></a></li>
                                        <li class="dark"><a href="recipes.html" title="Pizza"><i class="ico i-pizza"></i> <span>Pizza</span></a></li>

                                        <li class="medium"><a href="recipes.html" title="Kids"><i class="ico i-kids"></i> <span>Kids</span></a></li>
                                        <li class="dark"><a href="recipes.html" title="Meat"><i class="ico i-meat"></i> <span>Meat</span></a></li>
                                        <li class="light"><a href="recipes.html" title="Snacks"><i class="ico i-snacks"></i> <span>Snacks</span></a></li>

                                        <li class="dark"><a href="recipes.html" title="Salads"><i class="ico i-salads"></i> <span>Salads</span></a></li>
                                        <li class="light"><a href="recipes.html" title="Storage"><i class="ico i-storage"></i> <span>Storage</span></a></li>
                                        <li class="medium"><a href="recipes.html" title="Vegetarian"><i class="ico i-vegetarian"></i> <span>Vegetarian</span></a></li>
                                    </ul>
                                </div>

                                <div class="widget wow fadeInRight" data-wow-delay=".2s">
                                    <h3>Tips and tricks</h3>
                                    <ul class="articles_latest">
                                        <li>
                                            <a href="blog_single.html">
                                                <img src="images/img.jpg" alt="" />
                                                <h6>How to decorate cookies</h6>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog_single.html">
                                                <img src="images/img.jpg" alt="" />
                                                <h6>Make your own bread</h6>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog_single.html">
                                                <img src="images/img.jpg" alt="" />
                                                <h6>How to make sushi</h6>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog_single.html">
                                                <img src="images/img.jpg" alt="" />
                                                <h6>Barbeque party</h6>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog_single.html">
                                                <img src="images/img.jpg" alt="" />
                                                <h6>How to make a cheesecake</h6>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="widget members wow fadeInRight" data-wow-delay=".4s">
                                    <h3>Our members</h3>
                                    <div id="members-list-options" class="item-options">
                                        <a href="#">Newest</a>
                                        <a class="selected" href="#">Active</a>
                                        <a href="#">Popular</a>
                                    </div>
                                    <ul class="boxed">
                                        <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar.jpg" alt="" /><span>Kimberly C.</span></a></div></li>
                                        <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar.jpg" alt="" /><span>Alex J.</span></a></div></li>
                                        <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar.jpg" alt="" /><span>Denise M.</span></a></div></li>
                                        <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar.jpg" alt="" /><span>Jason H.</span></a></div></li>
                                        <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar.jpg" alt="" /><span>Jennifer W.</span></a></div></li>
                                        <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar.jpg" alt="" /><span>Anabelle Q.</span></a></div></li>
                                        <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar.jpg" alt="" /><span>Thomas M.</span></a></div></li>
                                        <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar.jpg" alt="" /><span>Michelle S.</span></a></div></li>
                                        <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar.jpg" alt="" /><span>Bryan A.</span></a></div></li>
                                    </ul>
                                </div>

                                <div class="widget wow fadeInRight" data-wow-delay=".6s">
                                    <h3>Advertisment</h3>
                                    <a href="#"><img src="images/img.jpg" alt="" /></a>
                                </div>
                            </aside>
                        </div>
                        <!--//right sidebar-->
                    </div>  

                </main>
            </body>
            {% endblock %}
                {% block script %}
                    <script> new WOW().init();</script>
                    <script>
                        window.dynamicNumbersBound = false;
                        var wow = new WOW();
                        WOW.prototype.show = function (box) {
                            wow.applyStyle(box);
                            if (typeof box.parentNode !== 'undefined' && hasClass(box.parentNode, 'dynamic-numbers') && !window.dynamicNumbersBound) {
                                bindDynamicNumbers();
                                window.dynamicNumbersBound = true;
                            }
                            return box.className = "" + box.className + " " + wow.config.animateClass;
                        };
                        wow.init();

                        function hasClass(element, cls) {
                            return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
                        }

                        function bindDynamicNumbers() {
                            $('.dynamic-number').each(function () {
                                var startNumber = $(this).text();
                                var endNumber = $(this).data('dnumber');
                                var dynamicNumberControl = $(this);

                                $({numberValue: startNumber}).animate({numberValue: endNumber}, {
                                    duration: 2000,
                                    easing: 'swing',
                                    step: function () {
                                        $(dynamicNumberControl).text(Math.ceil(this.numberValue));
                                    }
                                });
                            });
                        }

                    </script>
                {% endblock %}
