{% if recette_du_mois is not null %}
    <div class="entry one-third wow fadeInLeft">
        <header class="s-title">
            <h3 class="ribbon">{{ 'common.home.recetteofmonth'|trans({},'messages') }}</h3>
        </header>
        <figure>
            {% thumbnail recette_du_mois.image, 'square' with {'width':'100%','height':'auto'} %}
            <figcaption><a href="{{ path('meal_square_recette_show',{'id':recette_du_mois.id}) }}"><i class="ico i-view"></i> <span>{{ 'recettes.detail'|trans({}, 'messages') }}</span></a></figcaption>
        </figure>
        <div class="container">
            <h2><a href="{{ path('meal_square_recette_show',{'id':recette_du_mois.id}) }}">{{recette_du_mois.Titre | slice (0, 20)}}{% if recette_du_mois.Titre|length > 20 %} ...{% endif %}</a></h2> 
            <div class="actions">
                <div>
                    <div class="difficulty"><i class="ico i-medium"></i><a href="{{ path('meal_square_recette_show',{'id':recette_du_mois.id}) }}" style="font-size: 11px">{{recette_du_mois.Difficulte}}</a></div>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and recette_du_mois.auteur is not null and app.user is not null and app.user.id == recette_du_mois.auteur.id %}
                        <div class="edit"><a href="{{ path('meal_square_recette_edit',{'id':recette_du_mois.id}) }}"><i class="ico fa fa-edit"></i></a></div>   
                            {% endif %}
                    <div class="likes"><i class="ico i-likes"></i><a href="{{ path('meal_square_recette_show',{'id':recette_du_mois.id}) }}">{{ recette_du_mois.like.numLikes }}</a></div>
                    <div class="rates"><i class="ico fa fa-star"></i><a href="{{ path('meal_square_recette_show',{'id':recette_du_mois.id}) }}">{{ recette_du_mois.note.average }}</a></div>
                </div>
            </div>
        </div>
    </div>
    <!--item-->
{% else %}
    <div class="entry one-third wow fadeInLeft">
        <h3> {{ 'common.home.no_recetteofmonth'|trans({},'messages') }} </h3>
    </div>
{% endif %}


