<main class="main" role="main">
        <!--wrap-->
        <div class="wrap clearfix">

            <!--content-->
            <section class="content row" style="float:none;padding: 20px;  background: #DECEB9 url(../../bundles/mealsquarecommon/images/bgr/body.jpg) 0 0 repeat;">
          
               <form name="avatar_type" method="post" action="{{path('meal_square_user_avatar')}}" enctype="multipart/form-data"> 
                {{ form_start(form) }}
                        {{ form_errors(form) }}

                <div class="one-third"  style="text-align: center">
                    {% thumbnail form.vars.value.avatar, 'admin' with {'style':'border:3px solid rgb(181, 181, 181)'} %}
                </div>
                <div class="two-third">
                    <h2>{{ 'form.user.avatar'|trans({},'messages') }}</h2>
                    <div class="f-row">
                        {{ form_widget(form.avatar.binaryContent) }}
                    </div>
                    <div class="f-row">
                        <input type="submit" class="button" id="submitRecipe" value="Changer" />
                    </div>
                </div>
                </form>
            </section>  
        </div>
</main>
<script>
    $('select, input[type=radio],input[type=checkbox],input[type=file]').uniform();
        $('input[type=file]').uniform({
                fileDefaultText: 'Aucun fichier selectionné',
                fileBtnText: 'Choisir une image',
        });
</script>