{# empty Twig template #}
{% extends "MealSquareCommonBundle::layout.html.twig" %}


{% block title %}
    Mon profil - {{ parent() }}
{% endblock %}

{% block main %}
    <main class="main" role="main">
        <!--wrap-->
        <div class="wrap clearfix">
            <!--breadcrumbs-->
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="{{path('meal_square_common_homepage')}}" title="{{ 'common.menu.home'|trans }}">{{ 'common.menu.home'|trans }}</a></li>
                    <li><a href="{{path('sonata_user_profile_show')}}" title="{{ 'user_block_profile'|trans({}, 'SonataUserBundle') }}">{{ 'user_block_profile'|trans({}, 'SonataUserBundle') }}</a></li>
                </ul>
            </nav>
            <!--//breadcrumbs-->


            <!--content-->
            <section class="content" style="float:none">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <!--row-->
                    <div class="row">
                        <!--profile left part-->
                        <div class="my_account one-fourth wow fadeInLeft">
                            <figure id="profile-picture">
                                
                                {% if app.user.avatar is not null %}
                                    {% thumbnail app.user.avatar, 'square' %}
                                {% else %}
                                    {% image '@MealSquareCommonBundle/Resources/public/images/avatar.jpg'  output="images/avatar.jpg" %}
                                    <img src="{{ asset_url }}" alt="MealSquare User">
                                    {% endimage %}
                                {% endif %}
                                <a class="ajax-popup-link" style="position: absolute; right: 21px; padding: 6px 5px 5px 9px; top: 8px; display: none; border-radius: 5px; background-color: white;" href="{{path('meal_square_user_avatar')}}" title="Changez votre photo de profil"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                            </figure>
                            <div class="container">
                                <h2>
                                    {{ app.user.username}}
                                     <a class="" style="position: absolute; right: 21px; padding: 6px 5px 5px 9px; top: 8px; border-radius: 5px; background-color: white;" href="{{path('fos_user_profile_edit')}}" title="Changez mes parametres"><i class="fa fa-cog fa-2x"></i></a>
                          
                                </h2> 
                                    
                            </div>
                            
                        </div>
                        <!--//profile left part-->

                        <div class="three-fourth wow fadeInRight">
                            <nav class="tabs">
                                <ul>
                                    <li class="active"><a href="#about" title="{{ 'common.user.profile.about'|trans}}">{{ 'common.user.profile.about'|trans}}</a></li>
                                    <li><a href="#recipes" title="{{ 'common.user.profile.recipes'|trans}}">{{ 'common.user.profile.recipes'|trans}}</a></li>
                                    <li><a href="#favorites" title="{{ 'common.user.profile.favourite'|trans}}">{{ 'common.user.profile.favourite'|trans}}</a></li>
                                    <li><a href="#badges" title="{{ 'common.user.profile.badges'|trans}}">{{ 'common.user.profile.badges'|trans}}</a></li>
                                </ul>
                            </nav>

                            <!--about-->
                            <div class="tab-content" id="about">
                                <div class="row">
                                    <dl class="basic two-third">
                                        <dt>{{ 'form.username'|trans({}, 'SonataUserBundle') }}</dt>
                                        <dd>{{ app.user.username}}</dd>
                                        <dt>{{ 'form.label_name'|trans({}, 'SonataUserBundle') }}</dt>
                                        <dd>{{ app.user.lastname}}</dd>
                                        <dt>{{ 'filter.label_firstname'|trans({}, 'SonataUserBundle') }}</dt>
                                        <dd>{{ app.user.firstname}}</dd>
                                        <dt>{{ 'form.label_email'|trans({}, 'SonataUserBundle') }}</dt>
                                        <dd>{{ app.user.email}}</dd>
                                    </dl>

                                    <div class="one-third">
                                        <ul class="boxed gold">
                                            {% for badge in app.user.badges %}
                                                <li class="medium"><a href="#badges" title="{{ badge.nom }}"><i class="ico {{ badge.icone }}"></i> <span>{{ badge.nom|e }}</span></a></li>
                                            {% else %}
                                                <li class="large">Vous n'avez pas encore obtenu de Badge</li>
                                            {% endfor %}
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--//about-->

                            <!--my recipes-->
                            <div class="tab-content" id="recipes">
                                <div class="entries row">
                                    {% for article in recettes %}
                                        <!--item-->
                                        <div class="entry one-third">
                                            {{ include( 'MealSquareRecetteBundle:Recette:listItem.html.twig', { 'recette': article } ) }}
                                        </div>
                                        <!--item-->
                                    {% else %}
                                        <div class="container">Vous n'avez pas encore ajouté de recette</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!--//my recipes-->
                            <!--my favorites-->
                            <div class="tab-content" id="favorites">
                                <div class="entries row">
                                    {% for article in app.user.recettesFavoris %}
                                        <!--item-->
                                        <div class="entry one-fourth" style="min-height: 200px;">
                                            {{ include( 'MealSquareRecetteBundle:Recette:favorisItem.html.twig', { 'recette': article } ) }}
                                        </div>
                                        <!--item-->
                                    {% else %}
                                        <div class="container">Vous n'avez aucune recette en favoris</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!--//my favorites-->

                            <!--my posts-->
                            <div class="tab-content" id="badges">
                                <!--entries-->
                                <div class="row">
                                    <!--item-->
                                    {% for badge in app.user.badges %}
                                        <div class="full-width">
                                            <div class="avatar gold one-fourth" style="border-radius:50%">
                                                <i class="ico {{ badge.icone }}" style="position: relative; top: 50%; transform: translateY(-50%);"></i>
                                            </div>
                                            <div class=" three-fourth"  style="background: white;">
                                                <h3>{{ badge.nom }}</h3> 
                                                <div class="excerpt">
                                                    <p>{{ badge.description }} </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="container">Vous n'avez pas encore obtenu de Badge</div>
                                    {% endfor %}
                                    <!--item-->
                                </div>
                                <!--//entries-->
                            </div>
                            <!--//my posts-->
                        </div>
                    </div>
                    <!--//row-->
                {% endif %}
            </section>
            
            <!--//content-->
        </div>
        <!--//wrap-->
    </main>
{% endblock %}
{% block script %}
    <script> new WOW().init();</script>
    <script>
        $('.ajax-popup-link').magnificPopup({
            closeBtnInside:true,
            midClick: true,
            type: 'ajax'
          });
          
        $('#profile-picture').hover(
            function () {
              $('.ajax-popup-link').show();
            }, 
            function () {
              $('.ajax-popup-link').hide();
            }
          );
    </script>
{% endblock %}



