{# empty Twig template #}
{% extends "MealSquareCommonBundle::layout.html.twig" %}


{% block title %}
    {{ 'common.menu.recettes'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    <!--main-->
    <main class="main" role="main">
        <!--wrap-->
        <div class="wrap clearfix">
            <!--breadcrumbs-->
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="{{path('meal_square_common_homepage')}}" title="{{ 'common.menu.home'|trans }}">{{ 'common.menu.home'|trans }}</a></li>
                    <li>{{ 'common.menu.recettes'|trans }}</li>
                </ul>
            </nav>
            <!--//breadcrumbs-->

            <!--row-->
            <div class="row">

                <aside class="above-sidebar full-width  wow fadeInDown">
                    <ul class="boxed">
                    {% for raccourci in raccourcis%}
                        <li class="{% if current_raccourci is defined and current_raccourci.slug == raccourci.slug  %} gold{%elseif loop.index is odd %}light{%else%} medium{%endif%}">
                            <a href="{{path('meal_square_recette_raccourci',{'id':raccourci.id, 'slug':raccourci.slug})}}" title="{{raccourci.description}}">
                                <i class="{{raccourci.icone}}"></i> 
                                <span>{{raccourci.nom}}</span>
                            </a>
                        </li>
                    {% endfor %}
                     </ul>
                </aside>

                <header class="s-title">
                    <h2 class="ribbon bright">
                        {%if current_raccourci is defined%}
                            {{ current_raccourci.description }}
                        {%else%}
                            {{ 'common.menu.recettes'|trans }}
                        {%endif%}
                    </h2>
                    <div class="row tri">
                        <span>
                            {{ 'recettes.sortby'|trans({},'messages') }} 
                            {{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}  |   
                            {% if pagination.isSorted('a.Titre') %} {% endif %} 
                            {{ knp_pagination_sortable(pagination, 'Titre', 'a.titre') }}
                        </span>
                    </div>
                </header>  

                <!--content-->
                <section class="content full-width wow fadeInUp">
                    <!--entries-->
                    <div class="entries row">
                        {% for article in pagination %}
                            <!--item-->
                            <div class="entry one-fourth wow fadeInLeft">
                                {{ include( 'MealSquareRecetteBundle:Recette:listItem.html.twig', { 'recette': article } ) }}
                            </div>
                            <!--item-->
                        {% else %}
                            <p></p>
                        {% endfor %}
                        <div class="quicklinks">
                            {{ knp_pagination_render(pagination) }}
                        </div>
{#                            <a href="javascript:void(0)" class="button scroll-to-top">Back to top</a>#}

                    </div>
                    <!--//entries-->
                </section>
                <!--//content-->
            </div>
            <!--//row-->
        </div>
        <!--//wrap-->
    </main>
    <!--//main-->
{% endblock %}
{% block script %}
    <script> new WOW().init();</script>
{% endblock %}



