{# footer Twig template #}
<footer class="foot" role="contentinfo">
            <div class="wrap clearfix">
                <div class="row">
                    <article class="one-half">
                        <h5>{{ 'common.footer.about'|trans }}</h5>
                        <p>{{ 'common.footer.about_text'|trans }}</p>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <p><em>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</em></p>
                        {% endif %}
                    </article>
                    <article class="one-fourth">
                        <h5>{{ 'common.footer.help'|trans }}</h5>
                        <p>{{ 'common.footer.help_text'|trans }}</p>
                    </article>
                    <article class="one-fourth">
                        <h5>{{ 'common.footer.follow'|trans }}</h5>
                        <ul class="social">
                            <li class="facebook"><a href="#" title="facebook">facebook</a></li>
                            <li class="youtube"><a href="#" title="youtube">youtube</a></li>
                            <li class="twitter"><a href="#" title="twitter">twitter</a></li>
                        </ul>
                    </article>

                    <div class="bottom">
                        <p class="copy">{{ 'common.footer.copyrights'|trans }}</p>

                        <nav class="foot-nav">
                            <ul>
                                <li><a href="#" title="{{ 'common.menu.home'|trans }}"><span>{{ 'common.menu.home'|trans }}</span></a></li>
                                <li><a href="#" title="{{ 'common.menu.recipes'|trans }}"><span>{{ 'common.menu.recipes'|trans }}</span></a></li>
                                <li><a href="{{ path('meal_square_recette_ingredient_list') }}" title="{{ 'common.menu.ingredients'|trans }}"><span>{{ 'common.menu.ingredients'|trans }}</span></a></li>
                                <li><a href="#" title="{{ 'common.menu.forums'|trans }}"><span>{{ 'common.menu.forums'|trans }}</span></a></li>
                                <li><a href="{{ path('meal_square_common_contact') }}" title="{{ 'common.menu.contacts'|trans }}"><span>{{ 'common.menu.contacts'|trans }}</span></a></li>   
                                <li><a href="#" title="{{ 'common.menu.search_recipes'|trans }}">{{ 'common.menu.search_recipes'|trans }}</a></li>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                  <li><a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a></li>
                                {% else %}
                                    <li><a href="{{ path('sonata_user_security_login') }}" title="{{ 'common.user.menu.connect'|trans }}">{{ 'common.user.menu.connect'|trans }}</a></li>
                                    <li><a href="{{ path('sonata_user_profile_edit') }}" title="{{ 'common.user.menu.register'|trans }}">{{ 'common.user.menu.register'|trans }}</a></li>
                                {% endif %}													
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>