{# empty Twig template #}
{% extends "MealSquareCommonBundle::layout.html.twig" %}


{% block title %}
    {{ingredient.libelle}}  - {{ parent() }}
{% endblock %}

{% block main %}

    <main class="main" role="main">
        <!--wrap-->
        <div class="wrap clearfix">
            <!--breadcrumbs-->
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="{{path('meal_square_common_homepage')}}" title="{{ 'common.menu.home'|trans }}">{{ 'common.menu.home'|trans }}</a></li>
                    <li><a href="{{path('meal_square_recette_ingredient_list')}}" title="{{ 'common.menu.ingredients'|trans }}">{{ 'common.menu.ingredients'|trans }}</a></li>          
                    <li>{{ingredient.libelle}}</li>

                </ul>
            </nav>
            <!--//breadcrumbs-->

            <!--row-->
            <div class="row">
                <header class="s-title wow fadeInLeft">
                    <h1>{{ingredient.libelle}}</h1>
                </header>

                <!--content-->
                <section class="content three-fourth wow fadeInLeft">
                    <!--blog entry-->
                   
                    <!--//blog entry-->
                    <div class="row">
                        <div class="full-width">
                            <div class="container box">
                                <div class="entry-featured demoanimate wow flash" data-wow-delay=".4s" data-wow-duration="1s" data-wow-offset="300">{% thumbnail ingredient.image,'big' %}</div> 
                                <h2>{{ingredient.libelle}}</h2>
                                <p>{{ingredient.description}}</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!--//content-->

                <!--right sidebar-->
                <aside class="sidebar one-fourth">
                    <div class="widget">
                        <ul class="categories right">
                            <li><a href="#">All recipes</a></li>
                            <li class="active"><a href="#">Tips and Tricks</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Inspiration</a></li>
                            <li><a href="#">Category name</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Dolor</a></li>
                            <li><a href="#">Sit amet</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h3>Advertisment</h3>
                        <a href="#"><img src="images/img.jpg" alt="" /></a>
                    </div>
                </aside>
                <!--//right sidebar-->
            </div>
            <!--//row-->
        </div>
        <!--//wrap-->
    </main>
    <!--//main-->
{% endblock %}
{% block script %}
    <script> new WOW().init();</script>
{% endblock %}
