
{% extends "MealSquareCommonBundle::layout.html.twig" %}
{% spaceless %}
{% block title %}{{ post.title }} - {{ parent() }}{% endblock %}

{% block main %}
<main class="main" role="main">
    <!--wrap-->
    <div class="wrap clearfix">
        <!--breadcrumbs-->
        {% block sonata_page_breadcrumb %}
            <nav class="breadcrumbs">
                {{ sonata_block_render_event('breadcrumb', { 'context': 'news_post', 'post': post, 'current_uri': app.request.requestUri }) }}
            </nav>
        {% endblock %}
        
        </nav>
        <!--//breadcrumbs-->

        <!--row-->
        <div class="row">
            <header class="s-title wow fadeInLeft">
                <h1>{{ post.title }}</h1>
            </header>
            <section class="content three-fourth wow fadeInLeft">
                <!--blog entry-->
                <article class="post single">
                        <div class="entry-meta">
                            <div class="date">
                                <span class="day">{{post.publicationDateStart|format_date('dd', 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG'))}}</span> 
                                <span class="my">{{post.publicationDateStart|format_date('MMMM, Y', 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG'))}}</span>
                            </div>
                            <div class="avatar">
                                <a href="#" class="link-not-activated">{% thumbnail post.author.avatar, 'square' with{'width':'100%',  'height':'100%' } %}<span>{{post.author.username}}</span></a>
                            </div>
                        </div>
                        <div class="container">
                                <div class="entry-featured"><a href="#">{% thumbnail post.image, 'wide' %}</a></div>
                                <div class="entry-content">
                                    <div class="chapo">{{ post.abstract | raw }}</div>
                                    {{ post.content | raw }}
                                </div>
                        </div>
                </article>
            <h2 style="text-align: center">Cet article vous a plu ? Donnez votre avis.</h2>
            <div style="  background-color: white;padding: 20px;border-radius: 10px;" id="disqus_thread"></div>
            </section>
            <!--right sidebar-->
            <aside class="sidebar one-fourth wow fadeInRight">
                
                    <div class="widget">
                        <h3><i class="fa fa-tags"></i>&nbsp;Tags</h3>
                    </div>
                    <div class="widget">
                    <ul class="categories">
                    {% for tag in post.tags %}
                        <li><a href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a></li>
                    {% endfor %}
                    </ul>
                    </div>
            </aside>
				<!--//right sidebar-->

        </div>
    </div>
{% endblock %}


{% block script %}
    <script> new WOW().init();</script>
    <script type="text/javascript">
        var disqus_shortname = 'mealsquare';
        var disqus_identifier = 'mealsquare-news-{{post.id}}';
        var disqus_title = ' {{ post.title }} | Mealsquare';

        //var disqus_url = '{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}
{% endspaceless %}


